<div class="modal" *ngIf="isModalActive">
  <div
    class="overlay"
    [class.disable-close]="!closeOnOverlayClick"
    (click)="closeOnOverlayClick && closeModal()"
    (keyup.esc)="closeOnOverlayClick && closeModal()"
    tabindex="0"
  ></div>
  <div class="main-container">
    <div class="inner-container">
      <mat-icon>{{ iconName }}</mat-icon>
      <h1>{{ title }}</h1>
      <p>{{ message }}</p>
      <button (click)="onClickProceed()" id="btn-finalizar">Prosseguir</button>
      <button (click)="closeModal()" id="btn-finalizar">Voltar</button>
    </div>
  </div>
</div>
