.product {
    width: 1205px;
    overflow: hidden;
}
header {
    width: 1205px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}
h1 {
    margin: 0;
    font-weight: 600;
}
.slider-wrap {
    position: relative;
    overflow: hidden;
    height: 427px;
}
.slider-main {
    position: absolute;
    width: 200%;
}
.item-card {
    position: relative;
    display: inline-block;
    width: 274px;
    height: 427px;
    margin: 0 11px;

    p {
        margin: 5px 10px;
    }
}
.image {
    width: 274px;
    height: 384px;

    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    
    cursor: pointer;
}
.button-area {
    position: absolute;
}
.btNav {
    position: relative;
    top:195px;
    height: 100px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    transform: translate(-50%, -50%);
    &:hover {background-color: var(--color-primary-hover)};
}
#prev {    
    left: 13px;    
}
#next {
    left: 1149px;
}