<section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item-card" *ngFor="let card of cardsList">
          <button
            class="image"
            type="button"
            style="background-image: url( '{{ card.thumbnail }}' );"
            (click)="onClick(card.id)"
          />
          <p>{{ card.description }}</p>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="btNav" id="prev" appPrevCarouselItem>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button type="button" class="btNav" id="next" appNextCarouselItem>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
