<div class="background">
  <div class="component">
    <div class="icon-nav">
      <button [routerLink]="'..'"><mat-icon>arrow_back_ios</mat-icon></button>
    </div>
    <div class="container">
      <section class="titulo">
        <h1>Novo por aqui?</h1>
        <p>Cadastre-se e explore o Universo Marvel.</p>
      </section>

      <app-input
        [inputType]="'inputPassword'"
        [fieldsetLabel]="'Senha'"
        [placeHolder]="'Digite sua senha'"
        (valueChange)="isfilledChecker(password, $event)"
        [cleanValue]="cleanInput"
      ></app-input>

      <div>
        <app-password-checker
          [passwordInput]="password.value"
          (sendStatus)="receiveStatus(password, $event)"
        ></app-password-checker>
      </div>

      <app-input
        [inputType]="'inputPassword'"
        [fieldsetLabel]="'Confirme Sua Senha'"
        [placeHolder]="'Confirme sua senha'"
        [inputBorderColor]="passwordConfirm.borderColor"
        (valueChange)="passwordMatchChecker(passwordConfirm, $event)"
        [cleanValue]="cleanInput"
      ></app-input>

      <app-button
        buttonType="cancel"
        label="limpar"
        type="reset"
        (btnClick)="limparInput()"
      ></app-button>

      <app-button
        buttonType="large"
        label="concluir cadastro"
        [isDisabled]="!passwordConfirm.isAproved"
        (btnClick)="sendNewPwSubmit()"
      ></app-button>
    </div>
  </div>
  <app-modal
    [isModalActive]="showModal"
    (emitEventClose)="closeModal($event)"
    [message]="modalMessage"
    [isError]="handleError"
  ></app-modal>
</div>
