<div class="card">
  <div class="image-wrapper">
    <img class="card-image" [src]="imageSrc" [alt]="title" />
  </div>
  <div class="card-body">
    <div class="card-title">
      <h2 class="character-name">
        {{ title }}
      </h2>
      <mat-icon *ngIf="isCharacter" (click)="toggleFavorited()">{{
        favorited ? "favorite" : "favorite_border"
      }}</mat-icon>
    </div>
    <p class="card-description">{{ description }}</p>
    <app-button
      class="card-button"
      buttonType="bt-card"
      label="SABER MAIS"
      [custonStyle]="'width: 100%'"
      (click)="onClick()"
    ></app-button>
  </div>
</div>
