.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1.5rem;
}

.container-title p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

.container-title mat-icon {
    font-size: 1rem;
    align-self: center;
    cursor: pointer;
}

.title {
    display: flex;
}   

.character-description {
    overflow: hidden;
    height: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}