.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title {
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 1.5rem;
}

.container-title p {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

.container-title mat-icon {
    font-size: 1.5rem;
    align-self: start;
    cursor: pointer;
}

.title {
    display: flex;
}   

.character-description {
    font-size: 1.2rem;
    line-height: 25px;
    overflow: hidden;
    height: 75px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}