<div
  class="container-header"
  [ngStyle]="{
    color: textColor,
    'background-color': backgroundColor,
    width: width,
    'max-width': maxWidthHeader,
    height: containerHeight
  }"
>
  <div class="container-title">
    <div class="title">
      <mat-icon (click)="goBack()">arrow_back_ios</mat-icon>
      <p>{{ characterName }}</p>
    </div>
    <app-button
      buttonType="cancel"
      label="Home"
      class="logout-button"
      [custonStyle]="'width: 75px'"
      (click)="redirectHome()"
    ></app-button>
  </div>
  <p
    *ngIf="characterDescription.length > 0"
    class="character-description"
    [ngStyle]="{
      width: characterDescriptionWidth,
      'margin-left': characterDescriptionPositon,
      'margin-right': characterDescriptionPositon
    }"
  >
    {{ characterDescription }}
  </p>
</div>
