<section>
  <div [ngClass]="ruleList.eightChars">
    <mat-icon>check_circle_outline</mat-icon>
    <p>A senha deve conter, no mínimo, 8 caractéres;</p>
  </div>
  <div [ngClass]="ruleList.oneLetter">
    <mat-icon>check_circle_outline</mat-icon>
    <p>Deve conter pelo menos 1 letra;</p>
  </div>
  <div [ngClass]="ruleList.oneNumber">
    <mat-icon>check_circle_outline</mat-icon>
    <p>Deve conter pelo menos 1 número;</p>
  </div>
  <div [ngClass]="ruleList.oneSpecialChar">
    <mat-icon>check_circle_outline</mat-icon>
    <p>Deve conter pelo menos 1 caractére especial: !@#</p>
  </div>
</section>
