section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 120px;
  width: 522px;
}
div {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items:flex-end;  
}
p{  
  margin-left: 8px;
  line-height: 0;
}
.waitingTest{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: var(--color-white);
}
.aproved {
  font-size: 16px;
  font-style:normal;
  font-weight: 500;
  color:#9AD698;
}
.notAproved {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;  
  color:#E38686;
}