section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  text-wrap: wrap;
}
div {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items:flex-end;  
  margin: 4px 0;
}
p{  
  margin-left: 8px;
  margin-bottom: 0;
}
.aproved {
  align-items: center;
  font-size: 16px;
  font-style:normal;
  font-weight: 500;
  color:#9AD698;
}
.notAproved {
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;  
  color:#E38686;
}

.material-icons {
  overflow: visible !important;
}

@media screen and (max-width: 480px) {
  p {
    line-height: 20px;
  } 
}