<section>
  <div [ngClass]="ruleList.eightChars">
    <mat-icon>check_circle_outline</mat-icon>
    <p><span>A senha deve conter, no mínimo,</span> 8 caractéres;</p>
  </div>
  <div [ngClass]="ruleList.oneLetter">
    <mat-icon>check_circle_outline</mat-icon>
    <p><span>Deve conter pelo menos</span> 1 letra;</p>
  </div>
  <div [ngClass]="ruleList.oneNumber">
    <mat-icon>check_circle_outline</mat-icon>
    <p><span>Deve conter pelo menos</span> 1 número;</p>
  </div>
  <div [ngClass]="ruleList.oneSpecialChar">
    <mat-icon>check_circle_outline</mat-icon>
    <p>
      <span>Deve conter pelo menos</span> 1 caractére especial<span>: !@#</span>
    </p>
  </div>
</section>
