$input-color: #FFFFFF;
$input-height: 55.5px;

.background {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/marvel-space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      left: 80px;
      top: 80px;
      width: 80px;
    }
}

.container-redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container-redirect p {
    font-size: 25px;
    color: $input-color;
}


@media screen and (max-width: 900px) {
  .background img {
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%);
  }
}
