<!--Input E-mail relacionado a tela de login, cadastro e recuperação de senha-->
<div *ngIf="inputType == 'inputEmail' && value.length == 0" [ngStyle]="{'width': inputWidth}" class="container-input-not-filled">
    <input type="text" class="input-not-filled" [placeholder]="placeHolder" [(ngModel)]="value" (input)="sendData($event)">
</div>

<div *ngIf="inputType == 'inputEmail' && value.length > 0" [ngStyle]="{'width': inputWidth}" class="container-input-filled">
    <fieldset class="input-fieldset" [ngStyle]="{'border-color': inputBorderColor}">
        <legend class="input-legend">{{ fieldsetLabel }}</legend>
        <input type="text" class="input-filled" [(ngModel)]="value" (input)="sendData($event)">
    </fieldset>
</div>

<!--Input senha relacionado a tela de login, cadastro e recuperação de senha-->
<div *ngIf="inputType == 'inputPassword' && value.length == 0" [ngStyle]="{'width': inputWidth}" class="container-input-not-filled">
    <mat-icon (click)="showPassword = !showPassword" class="icon-not-filled">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    <input [type]="showPassword ? 'text' : 'password'" class="input-not-filled" [placeholder]="placeHolder" [(ngModel)]="value" (input)="sendData($event)">
</div>

<div *ngIf="inputType == 'inputPassword' && value.length > 0" [ngStyle]="{'width': inputWidth}" class="container-input-filled">
    <fieldset class="input-fieldset" [ngStyle]="{'border-color': inputBorderColor}">
        <mat-icon (click)="showPassword = !showPassword" class="icon-filled">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        <legend class="input-legend">{{ fieldsetLabel }}</legend>
        <input [type]="showPassword ? 'text' : 'password'" class="input-filled" [(ngModel)]="value" (input)="sendData($event)">
    </fieldset>
</div>

<!--Input relacionado a tela de busca-->
<div *ngIf="inputType == 'inputSearch' && value.length == 0" [ngStyle]="{'width': inputWidth}" class="container-input-not-filled">
    <mat-icon class="icon-search">search</mat-icon>
    <input class="input-not-filled" type="text" [placeholder]="placeHolder" [(ngModel)]="value" (input)="sendData($event)">
</div>

<div *ngIf="inputType == 'inputSearch' && value.length > 0" [ngStyle]="{'width': inputWidth}" class="container-input-filled">
    <fieldset class="input-fieldset" [ngStyle]="{'border-color': inputBorderColor}">
        <mat-icon (click)="value = ''" class="icon-filled">close</mat-icon>
        <legend class="input-legend">{{ fieldsetLabel }}</legend>
        <input class="input-filled" type="text" [(ngModel)]="value" (input)="sendData($event)">
    </fieldset>
</div>
