<!--Input E-mail-->

<div
  *ngIf="inputType === 'inputEmail'"
  [ngStyle]="{ width: inputWidth }"
  class="container-input"
>
  <span
    *ngIf="showTagLabel"
    class="input-label-position"
    [ngStyle]="{ 'background-color': backgroundColorTag }"
    >{{ fieldsetLabel }}</span
  >
  <input
    [placeholder]="placeHolder"
    class="input-position"
    [(ngModel)]="value"
    [ngStyle]="{ 'border-color': inputBorderColor }"
    (input)="sendData($event)"
  />
</div>

<!--Input Senha-->

<div
  *ngIf="inputType === 'inputPassword'"
  [ngStyle]="{ width: inputWidth }"
  class="container-input"
>
  <mat-icon (click)="showPassword = !showPassword" class="icon-position">{{
    showPassword ? "visibility" : "visibility_off"
  }}</mat-icon>
  <span *ngIf="showTagLabel" class="input-label-position">{{
    fieldsetLabel
  }}</span>
  <input
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeHolder"
    class="input-position"
    [(ngModel)]="value"
    [ngStyle]="{ 'border-color': inputBorderColor }"
    (input)="sendData($event)"
  />
</div>

<!--Input pesquisa da tela de dash personagens-->

<div
  *ngIf="inputType === 'inputSearch'"
  [ngStyle]="{ width: inputWidth }"
  class="container-input"
>
  <mat-icon (click)="cleanInputSearch()" class="icon-position">{{
    showCloseBtn ? "close" : "search"
  }}</mat-icon>
  <span *ngIf="showTagLabel" class="input-label-position">{{
    fieldsetLabel
  }}</span>
  <input
    [placeholder]="placeHolder"
    class="input-position"
    [(ngModel)]="value"
    [ngStyle]="{ 'border-color': inputBorderColor }"
    (input)="sendData($event)"
  />
</div>

<!--Input de data -->

<div
  *ngIf="inputType === 'inputDate'"
  [ngStyle]="{ width: inputWidth }"
  class="container-input-date"
>
  <mat-icon *ngIf="showIconDate" class="icon-position-date"
    >calendar_today</mat-icon
  >
  <span
    *ngIf="showTagLabel"
    class="input-label-position"
    [ngStyle]="{ 'background-color': backgroundColorTag }"
    >{{ fieldsetLabel }}</span
  >
  <input
    type="text"
    (focus)="changeInputFocus()"
    [ngStyle]="{ 'border-color': inputBorderColor }"
    [placeholder]="placeHolder"
    onfocus="this.type='date'"
    class="input-position-date"
    [(ngModel)]="value"
    [ngStyle]="{ 'border-color': inputBorderColor }"
    (input)="sendData($event)"
  />
</div>
