$input-color: #FFFFFF;
$input-height: 55.5px;

.container-input-not-filled {
    position: relative;
    display: flex;
    justify-content: right;
    height: $input-height;
}

.container-input-filled {
    display: flex;
    justify-content: right;
}

.input-fieldset {
    position: relative;
    height: $input-height;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding-top: 0;
    border-radius: 4px;
    margin-top: -8.6px;
    margin-left: 0.1px;
    margin-right: 0px;
}

.input-legend {
    color: $input-color
}

.input-filled {
    position: relative;
    top: 4px;
    border: none;
    background-color: transparent;
    color: $input-color;
    border-radius: 4px;
    width: 100.4%;
    margin: 0 -1.7px;
    padding-top: 5.5px;
    padding-left: 8.3px;
    &:focus {
        outline: none;
    }
}

.input-not-filled {
    border-width: 1px;
    border-style: solid;
    border-color: $input-color;
    background-color: transparent;
    color: $input-color;
    padding: 1.1rem;
    border-radius: 4px;
    width: 100%;
}

::placeholder {
    color: $input-color;
}

.icon-not-filled {
    color: $input-color;
    position:absolute;
    top: 0.95rem;
    right: 1.3rem;
    cursor: pointer;
}

.icon-filled {
    color: $input-color;
    position:absolute;
    top: 0.3rem;
    right: 1.3rem;
    cursor: pointer;
    z-index: 2;
}

.icon-search {
    color: $input-color;
    position:absolute;
    top: 1rem;
    right: 1.1rem;
}
