$words-color: #000000;

.main-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $words-color;
    background-color: #FFFFFF;
    z-index: 100;
}

#btn-close {
    color: $words-color;
    position: absolute;
    top: 0.6rem;
    right: 0.2rem;
    width: 31px;
    height: 32px;
    cursor: pointer;
}

.inner-container {
    text-align: center;
    margin: 46px 52.5px;
}

.inner-container mat-icon {
    color: $words-color;
    width: 69px;
    height: 69px;
    font-weight: 400;
    font-size: 72px;
}

.inner-container h1 {
    color: $words-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0.5%;
    margin-top: 1rem;
}

.inner-container p {
    color: $words-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
}

#btn-finalizar {
    cursor: pointer;
    margin-top: 0.4rem;
    width: 255px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}
