<div
  [ngStyle]="{
    'max-width': selectMaxWidth,
    width: selectWidth,
    'border-color': selectBorderColor
  }"
  class="container-select"
>
  <mat-icon class="icon-position">arrow_drop_down</mat-icon>
  <span *ngIf="showTagLabel" class="select-label-position">{{ tagLabel }}</span>
  <select
    class="select-position"
    [(ngModel)]="valueSelect"
    [ngStyle]="{
      'border-color': borderColor,
      height: height,
      'margin-bottom': selectMarginBottom,
      'margin-top': selectMarginTop
    }"
    (change)="sendData($event)"
  >
    <option hidden disabled selected value="{{ placeholder }}">
      {{ placeholder }}
    </option>
    <option *ngFor="let optionItem of optionList" [ngValue]="optionItem">
      {{ optionItem }}
    </option>
  </select>
</div>
