$select-color: #FFFFFF;
$select-height: 59.7px;

.container-select {
    position: relative;
    width: 100%;
}

.select-label-position {
    font-size: 0.7rem;
    position: absolute;
    top: -9.5px;
    left: 15.3px;
    border-radius: 4px;
    color: $select-color;
    background-color: #2C85D8;
    padding: 0px 6px;
    z-index: 2;
}

.select-position {
    position: relative;
    width: 100%;
    border-width: 1px;
    border-color: $select-color;
    border-style: solid;
    background-color: transparent;
    color: $select-color;
    border-radius: 4px;
    height: $select-height;
    text-indent: 15px;
    z-index: 1;
    appearance: none;
}

.container-select select:focus {
    outline: none  !important;
    border-color: #2C85D8 !important;
}

option {
    color: #000000;
}

.icon-position {
    position: relative;
    color: $select-color;
    position:absolute;
    top: 1.1rem;
    right: 0.8rem;
    z-index: 0;
}

@media screen and (max-width: 250px) {
    .icon-position {
        display: none;
    }
}
