.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/marvel-space.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;

  ::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 0.35;
  }

  img {
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: 1; /* Envia a div para trás de tudo */
  }

  .app-form-login {

  }

}
