
<div class="modal" style="padding:1rem;margin-bottom: 1rem">
  <app-input [inputType]="'inputLogin'" [placeHolder]="'Senha'" [fieldsetLabel]="'senha'" (valueChange)="getInputValue($event)"></app-input>
</div>

<div class="modal" style="padding:1rem; margin-top: 1rem">
  <app-input [inputType]="'inputSearch'" [fieldsetLabel]="'Digite quem procura'" [placeHolder]="'Digite quem procura.'" (valueChange)="getInputValue($event)"></app-input>
</div>

<div class="modal" style="padding:1rem; margin-top: 1rem; display:flex;">
  <app-input [inputType]="'inputSearch'" [fieldsetLabel]="'Digite quem procura'" [inputWidth]="'300px'" [placeHolder]="'Digite quem procura.'" (valueChange)="getInputValue($event)"></app-input>
  <button style="margin-left: 0.5rem;">Teste</button>
</div>

<!-- <p style="color:#FFFFFF;">{{ inputDataReceived }}</p> -->

<!-- <router-outlet></router-outlet> -->