<div class="component-body">
  <app-header-details
    [ContentName]="headerData.title"
    [ContentDescription]="headerData.description"
    [ContentThumb]="
      headerData.thumb
        ? headerData.thumb
        : '../../../../assets/images/header-details.svg'
    "
  ></app-header-details>

  <div class="container-main">
    <div class="product-view">
      <div class="product-card">
        <img
          src="{{
            headerData.thumb
              ? headerData.thumb
              : '../../../../assets/images/personagem-sem-imagem.jpg'
          }}"
          alt=""
        />
      </div>
      <div class="card-create-comment">
        <h2 class="product-view-title">Deixe seu comentário</h2>
        <textarea
          [(ngModel)]="newComment.comment"
          type="textarea"
          maxlength="300"
          placeholder="Compartilhe sua opinião com a comunidade Marvel!"
          name="comment"
          id="comment"
        ></textarea>
        <app-button
          class="bt-comentar"
          [buttonType]="'large'"
          [label]="'comentar'"
          [isDisabled]="this.newComment.comment.trim() !== '' ? false : true"
          (click)="createComment()"
        ></app-button>
      </div>
    </div>
    <div class="coment-list">
      <h2 class="title-comment-list">Comentários</h2>
      <div class="loading-wrapper" *ngIf="loading">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <p *ngIf="showNotFoundMessage" class="not-found-message">
        Seja o primeiro a comentar sobre esse conteúdo!
      </p>
      <div class="comments-wrapper">
        <div class="comment-area" *ngIf="!showNotFoundMessage">
          <div class="coment-item" *ngFor="let userComment of commentList">
            <div class="comment-header">
              <h2 class="comment-author">
                {{ userComment.userName }}
                {{ userComment.userLastName.split(" ").pop() }}
              </h2>
              <span class="date-comment">{{
                userComment.createdAt | date
              }}</span>
            </div>
            <p class="comment-text">
              {{ userComment.comment }}
            </p>
            <mat-icon
              *ngIf="userComment.userComment"
              class="bt-delete"
              (click)="handleDeleteComment(userComment.id)"
              >delete</mat-icon
            >
          </div>
        </div>
        <div *ngIf="showNextPreviousButtons" class="wrapper-buttons">
          <app-button
            [buttonType]="'large'"
            (click)="previousPageComments()"
            class="btn-see-less"
            custonStyle="padding: 8px"
            [isDisabled]="disableButtonPreviousPage"
          >
            <mat-icon>keyboard_arrow_left</mat-icon></app-button
          ><span>{{ pageNumber }}</span>
          <app-button
            [buttonType]="'large'"
            (click)="nextPageComments()"
            custonStyle="padding: 8px"
            [isDisabled]="disableButtonNextPage"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </app-button>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-content-container">
        <h1>Quer ter acesso a <span>POSTERS EXCLUSIVOS?</span></h1>
        <div>
          <h2>
            Por apenas <span>R$20,00</span> você recebe um poster criado por um
            dos artistas da nossa comunidade.
          </h2>
          <app-button
            [buttonType]="'large'"
            [label]="'Quero meu poster exclusivo'"
          ></app-button>
        </div>
      </div>
      <div class="partners">
        <h2>Conheça nossos parceiros</h2>
        <div class="poster-container">
          <div class="poster-item">
            <div class="poster"></div>
            <p>Nome do artista</p>
          </div>
          <div class="poster-item">
            <div class="poster"></div>
            <p>Nome do artista</p>
          </div>
          <div class="poster-item">
            <div class="poster"></div>
            <p>Nome do artista</p>
          </div>
          <div class="poster-item">
            <div class="poster"></div>
            <p>Nome do artista</p>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </footer>
  </div>
</div>
