<div class="background">
  <div class="component">
    <div class="icon-nav">
      <a href="http://localhost:4200"><mat-icon>arrow_back_ios</mat-icon></a>
    </div>
    <div class="container">
      <section class="titulo">
        <h1>Novo por aqui?</h1>
        <p>Cadastre-se e explore o Universo Marvel.</p>
      </section>
      <!-- troca firstName por name para satisfazer o Back-End -->
      <app-input
        [inputType]="'inputEmail'"
        [fieldsetLabel]="firstName.getFieldLabel()"
        [placeHolder]="'Nome'"
        [inputBorderColor]="firstName.getBorderColor()"
        (valueChange)="regexFormatChecker(firstName, $event)"
        [cleanValue]="cleanInput"
        [backgroundColorTag]="firstName.getBorderColor()"
      ></app-input>
      <app-input
        [inputType]="'inputEmail'"
        [fieldsetLabel]="lastName.getFieldLabel()"
        [placeHolder]="'Sobrenome'"
        [inputBorderColor]="lastName.getBorderColor()"
        (valueChange)="regexFormatChecker(lastName, $event)"
        [cleanValue]="cleanInput"
        [backgroundColorTag]="lastName.getBorderColor()"
      ></app-input>
      <div class="genreBirthContainer">
        <app-select
          [optionList]="optionList"
          [selectWidth]="'249px'"
          placeholder="Selecione seu gênero"
          [borderColor]="gender.getBorderColor()"
          (valueChange)="isfilledChecker(gender, $event)"
          [cleanValue]="cleanInput"
        ></app-select>
        <app-input
          [inputType]="'inputDate'"
          [fieldsetLabel]="birthDate.getFieldLabel()"
          [placeHolder]="'Data de Nascimento'"
          [inputWidth]="'249px'"
          [inputBorderColor]="birthDate.getBorderColor()"
          (valueChange)="birthYearChecker(birthDate, $event)"
          [cleanValue]="cleanInput"
          [backgroundColorTag]="birthDate.getBorderColor()"
        ></app-input>
      </div>

      <app-input
        [inputType]="'inputEmail'"
        [fieldsetLabel]="email.getFieldLabel()"
        [placeHolder]="'E-mail'"
        [inputBorderColor]="email.getBorderColor()"
        (valueChange)="regexFormatChecker(email, $event)"
        [cleanValue]="cleanInput"
        [backgroundColorTag]="email.getBorderColor()"
      ></app-input>
      <app-input
        [inputType]="'inputPassword'"
        [fieldsetLabel]="password.getFieldLabel()"
        [placeHolder]="'Digite sua senha'"
        (valueChange)="isfilledChecker(password, $event)"
        [cleanValue]="cleanInput"
      ></app-input>

      <div>
        <app-password-checker
          [passwordInput]="password.getValue()"
          (sendStatus)="receiveStatus(password, $event)"
        ></app-password-checker>
      </div>

      <app-input
        [inputType]="'inputPassword'"
        [fieldsetLabel]="passwordConfirmation.getFieldLabel()"
        [placeHolder]="'Confirme sua senha'"
        [inputBorderColor]="passwordConfirmation.getBorderColor()"
        (valueChange)="passwordMatchChecker(passwordConfirmation, $event)"
        [cleanValue]="cleanInput"
        [backgroundColorTag]="passwordConfirmation.getBorderColor()"
      ></app-input>

      <app-button
        buttonType="cancel"
        label="limpar"
        (btnClick)="limparInput()"
      ></app-button>

      <app-button
        buttonType="large"
        label="concluir cadastro"
        [isDisabled]="!btRegisterState"
        (btnClick)="signUpDataSubmit()"
      ></app-button>
      <div class="checkbox">
        <app-checkbox
          (checkedChange)="receiveStatus(checkbox, $event)"
        ></app-checkbox>
        <h4>
          Ao preencher o formulário acima você concorda com os nossos
          <a href="#">Termos de Uso</a> e
          <a href="#">Política de Privacidade</a>.
        </h4>
      </div>
    </div>
  </div>
  <app-modal
    [isModalActive]="showModal"
    (emitEventClose)="closeModal($event)"
    [message]="modalMessage"
  ></app-modal>
</div>
