<div class="background">
  <img src="../../../../assets/images/marvel-logo.png" alt="" />
  <div class="main-container">
    <div class="header">
      <h1 class="title">Pesquisa de satisfação</h1>
      <mat-icon class="btn-close">close</mat-icon>
    </div>
    <p class="subtitle">
      Deixe aqui sua avaliação sobre a experiência com a MarvelPedia até agora!
    </p>
    <div class="container-star">
      <mat-icon class="icon-star">star</mat-icon>
      <mat-icon class="icon-star">star_border</mat-icon>
    </div>
    <textarea
      placeholder="Se desejar, comente o que mais gosta na plataforma ou o que poderia melhorar a sua experiência atual :)"
      name=""
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <app-button label="ENVIAR" buttonType="large"></app-button>
  </div>
</div>
