<div class="background">
  <div class="container-main">
    <app-header-details
      [ContentName]="characterDetailList.data.characterName"
      [ContentDescription]="characterDetailList.data.characterDescription"
      [ContentUrlButton]="'http://localhost:4200/home'"
      [ContentThumb]="
        characterDetailList.data.characterThumb
          ? characterDetailList.data.characterThumb
          : './assets/images/header-details.svg'
      "
    ></app-header-details>
    <div class="search-area">
      <p>Séries</p>
      <div class="input-width">
        <app-input
          [inputType]="'inputSearch'"
          [fieldsetLabel]="'Procura uma série?'"
          [backgroundColorTag]="'#2C85D8'"
          [inputWidth]="'100%'"
          [inputBorderColor]="'#000000'"
          [color]="'#000000'"
          [placeHolder]="'Procura uma série?'"
          (valueChangeLogin)="filterSeriesCategory($event)"
          (emitCleanValue)="clearSearchSeries($event)"
        ></app-input>
      </div>
      <div class="carrosel-area-series">
        <owl-carousel-o
          *ngIf="seriesListFilter.length > 0; else searchNotFound"
          [options]="carouselOptions"
        >
          <ng-template carouselSlide *ngFor="let serie of seriesListFilter">
            <div
              (click)="navigateToDetails('series', 'serieCategory', serie.id)"
              class="item-card"
            >
              <img
                src="{{ serie.thumb ? serie.thumb : standardCardThumb }}"
                class="thumbnail"
              />
              <p>{{ serie.enTitle ? serie.enTitle : standardCardTitle }}</p>
            </div>
          </ng-template>
        </owl-carousel-o>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              {{ standardErrorMessage }}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Quadrinhos</p>
        <div class="input-width">
          <app-input
            [inputType]="'inputSearch'"
            [fieldsetLabel]="'Procura um quadrinho?'"
            [backgroundColorTag]="'#2C85D8'"
            [inputWidth]="'100%'"
            [inputBorderColor]="'#000000'"
            [color]="'#000000'"
            [placeHolder]="'Procura um quadrinho?'"
            (valueChangeLogin)="filterComicsCategory($event)"
            (emitCleanValue)="clearSearchComics($event)"
          ></app-input>
        </div>
      </div>
      <div class="carrosel-area">
        <owl-carousel-o
          *ngIf="comicsListFilter.length > 0; else searchNotFound"
          [options]="carouselOptions"
        >
          <ng-template carouselSlide *ngFor="let comic of comicsListFilter">
            <div
              (click)="navigateToDetails('comics', 'comicsCategory', comic.id)"
              class="item-card"
            >
              <img
                src="{{ comic.thumb ? comic.thumb : standardCardThumb }}"
                class="thumbnail"
              />
              <p>{{ comic.enTitle ? comic.enTitle : standardCardTitle }}</p>
            </div>
          </ng-template>
        </owl-carousel-o>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              {{ standardErrorMessage }}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Histórias</p>
        <div class="input-width">
          <app-input
            [inputType]="'inputSearch'"
            [fieldsetLabel]="'Procura uma história?'"
            [backgroundColorTag]="'#2C85D8'"
            [inputWidth]="'100%'"
            [inputBorderColor]="'#000000'"
            [color]="'#000000'"
            [placeHolder]="'Procura uma história?'"
            (valueChangeLogin)="filterStoriesCategory($event)"
            (emitCleanValue)="clearSearchStories($event)"
          ></app-input>
        </div>
      </div>
      <div class="carrosel-area">
        <owl-carousel-o
          *ngIf="storiesListFilter.length > 0; else searchNotFound"
          [options]="carouselOptions"
        >
          <ng-template carouselSlide *ngFor="let storie of storiesListFilter">
            <div
              (click)="
                navigateToDetails('stories', 'storiesCategory', storie.id)
              "
              class="item-card"
            >
              <img
                src="{{ storie.thumb ? storie.thumb : standardCardThumb }}"
                class="thumbnail"
              />
              <p>{{ storie.enTitle ? storie.enTitle : standardCardTitle }}</p>
            </div>
          </ng-template>
        </owl-carousel-o>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              {{ standardErrorMessage }}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Eventos</p>
        <div class="input-width">
          <app-input
            [inputType]="'inputSearch'"
            [fieldsetLabel]="'Procura uma evento?'"
            [backgroundColorTag]="'#2C85D8'"
            [inputWidth]="'100%'"
            [inputBorderColor]="'#000000'"
            [color]="'#000000'"
            [placeHolder]="'Procura uma evento?'"
            (valueChangeLogin)="filterEventsCategory($event)"
            (emitCleanValue)="clearSearchEvents($event)"
          ></app-input>
        </div>
      </div>
      <div class="carrosel-area">
        <owl-carousel-o
          *ngIf="eventsListFilter.length > 0; else searchNotFound"
          [options]="carouselOptions"
        >
          <ng-template carouselSlide *ngFor="let event of eventsListFilter">
            <div
              (click)="navigateToDetails('events', 'eventsCategory', event.id)"
              class="item-card"
            >
              <img
                src="{{ event.thumb ? event.thumb : standardCardThumb }}"
                class="thumbnail"
              />
              <p>{{ event.enTitle ? event.enTitle : standardCardTitle }}</p>
            </div>
          </ng-template>
        </owl-carousel-o>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              {{ standardErrorMessage }}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <app-footer [textColor]="'#000000'"></app-footer>
  </div>
</div>
