<div class="background">
  <div class="container-main">
    <app-header
      [showCloseButton]="true"
      [width]="'1205px'"
      [characterName]="characterDetailList.characterName"
      [characterDescription]="characterDetailList.characterDescription"
    ></app-header>
    <div class="search-area">
      <p>Séries</p>
      <app-input
        [inputType]="'inputSearch'"
        [fieldsetLabel]="'Está buscando uma série específica?'"
        [backgroundColorTag]="'#2C85D8'"
        [inputWidth]="'100%'"
        [inputBorderColor]="'#000000'"
        [color]="'#000000'"
        [placeHolder]="'Está buscando uma série específica?'"
        (valueChangeLogin)="filterCategorySeries($event)"
        (emitCleanValue)="cleanSearchSeries($event)"
      ></app-input>
      <div class="carrosel-area">
        <app-carousel
          *ngIf="seriesListFilter.length > 0; else searchNotFound"
          [cardsList]="seriesListFilter"
        ></app-carousel>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              Não foi póssível realizar essa busca!
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Quadrinhos</p>
        <app-input
          [inputType]="'inputSearch'"
          [fieldsetLabel]="'Está buscando um quadrinho específico?'"
          [backgroundColorTag]="'#2C85D8'"
          [inputWidth]="'100%'"
          [inputBorderColor]="'#000000'"
          [color]="'#000000'"
          [placeHolder]="'Está buscando um quadrinho específico?'"
          (valueChangeLogin)="filterCategoryComics($event)"
          (emitCleanValue)="cleanSearchComics($event)"
        ></app-input>
      </div>
      <div class="carrosel-area">
        <app-carousel
          *ngIf="comicsListFilter.length > 0; else searchNotFound"
          [cardsList]="comicsListFilter"
        ></app-carousel>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              Não foi póssível realizar essa busca!
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Histórias</p>
        <app-input
          [inputType]="'inputSearch'"
          [fieldsetLabel]="'Está buscando uma história específica?'"
          [backgroundColorTag]="'#2C85D8'"
          [inputWidth]="'100%'"
          [inputBorderColor]="'#000000'"
          [color]="'#000000'"
          [placeHolder]="'Está buscando uma história específica?'"
          (valueChangeLogin)="filterCategoryStories($event)"
          (emitCleanValue)="cleanSearchStories($event)"
        ></app-input>
      </div>
      <div class="carrosel-area">
        <app-carousel
          *ngIf="storiesListFilter.length > 0; else searchNotFound"
          [cardsList]="storiesListFilter"
        ></app-carousel>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              Não foi póssível realizar essa busca!
            </p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="search-area">
      <div class="search-line">
        <p>Eventos</p>
        <app-input
          [inputType]="'inputSearch'"
          [fieldsetLabel]="'Está buscando um evento específico?'"
          [backgroundColorTag]="'#2C85D8'"
          [inputWidth]="'100%'"
          [inputBorderColor]="'#000000'"
          [color]="'#000000'"
          [placeHolder]="'Está buscando um evento específico?'"
          (valueChangeLogin)="filterCategoryEvents($event)"
          (emitCleanValue)="cleanSearchEvents($event)"
        ></app-input>
      </div>
      <div class="carrosel-area">
        <app-carousel
          *ngIf="eventsListFilter.length > 0; else searchNotFound"
          [cardsList]="eventsListFilter"
        ></app-carousel>
        <ng-template #searchNotFound>
          <div class="not-found-message">
            <mat-icon>error_outline</mat-icon>
            <p class="error-description">
              Não foi póssível realizar essa busca!
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
