.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/marvel-space-homepage.jpg");
    background-position: top;
    justify-content: center;
    overflow: auto;
    margin: 0;
  }

.container-main {
    max-width: 1205px;
    margin: 0 auto;
    box-sizing: border-box;
    height: calc(100vh - 16px);
}

.search-area {
    box-sizing: border-box;
    padding-top: 8px;
    gap: 10px;
    width: 100%;
    padding: 1.5rem 60px;
    background-color: #FFFFFF;
}

.carrosel-area {
    margin-top: 1.5rem;
}

.search-area:last-child {
    padding-bottom: 28px;
}

.search-line p {
    margin-bottom: 1.5rem;
}

.search-area p {
    font-size: 28px;
    font-weight: 700;
}

.search-area p:first-child {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.not-found-message {
    align-items: center;
    text-align: center;
    margin: 61px auto;
}

.not-found-message mat-icon {
    color: var( --color-sup-red);
    height: 229px;
    width: 100%;
    font-weight: 400;
    font-size: 239px;
    margin-bottom: 23px;
}
  
.not-found-message .error-description {
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and (max-width: 900px) {
    .search-area {
        padding: 1.5rem 1.5rem;
    }
}
