<div class="background">
  <img src="../../../../../assets/images/marvel-logo.png" alt="logo Marvel" />
  <div class="component">
    <div class="icon-nav">
      <button (click)="handleBackButton()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div class="container">
      <section class="titulo">
        <h1>Nova Senha</h1>
        <p>Digite sua nova senha.</p>
      </section>

      <app-input
        [inputType]="'inputPassword'"
        [inputWidth]="'100%'"
        [fieldsetLabel]="'Senha'"
        [placeHolder]="'Digite sua senha'"
        [inputBorderColor]="password.borderColor"
        (valueChange)="isfilledChecker(password, $event)"
        [backgroundColorTag]="password.borderColor"
      ></app-input>

      <div>
        <app-password-checker
          [passwordInput]="password.value"
          (sendStatus)="receiveStatus(password, $event)"
        ></app-password-checker>
      </div>

      <app-input
        [inputType]="'inputPassword'"
        [inputWidth]="'100%'"
        [fieldsetLabel]="'Confirme Sua Senha'"
        [placeHolder]="'Confirme sua senha'"
        [inputBorderColor]="passwordConfirm.borderColor"
        (valueChange)="passwordMatchChecker(passwordConfirm, $event)"
        [backgroundColorTag]="passwordConfirm.borderColor"
      ></app-input>

      <app-button
        class="btCancel"
        buttonType="cancel"
        label="cancelar"
        (click)="handleBackButton()"
      ></app-button>

      <app-button
        buttonType="large"
        label="enviar"
        [isDisabled]="!passwordConfirm.isAproved"
        (btnClick)="newPasswordSubmit()"
      ></app-button>
    </div>
  </div>
  <app-modal
    (emitEventClose)="closeModal($event)"
    [isModalActive]="modalConfig.showModal"
    [iconName]="modalConfig.icon"
    [title]="modalConfig.title"
    [message]="modalConfig.message"
    [btText]="modalConfig.buttonText"
    [closeOnOverlayClick]="modalConfig.overlayClick"
  ></app-modal>
</div>
