@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
  //Product
  --color-white: rgb(255, 255, 255);
  --color-primary: rgb(44, 133, 216);
  --color-sup-red: rgb(227, 134, 134);
  --color-gray: rgb(147, 147, 147);

  //Buttons
  --color-primary-hover: rgb(107, 174, 237);
  --color-text-disable: rgb(23, 23, 23);
  --color-disable: rgba(151, 151, 151, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

body *{
  scroll-behavior: smooth;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.owl-carousel .owl-item img {
  height: 235px;
}

.owl-prev, .owl-next {
  position: absolute;
  font-size: 24px !important;
  height: 30px !important;
  top: 31%;
  background-color: rgb(44, 133, 216) !important;
} 
.owl-next {
  right: 0;
}
.owl-next span, .owl-prev span  {
  position: relative;
  top: 4px;
}
.owl-prev {
  left: 0
}

