html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: darkblue;
}

:root {
  --color-white: #ffffff;
  --color-primary: #2C85D8;
  --color-primary-hover: #6BAEED;
  --color-disable: #171717;
  --color-sup-red: #E38686;
}
