.container {
    box-sizing: border-box;
    max-width: 1205px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
header {
    height: 312px;
    display: flex;
    flex-direction: column;
    background-color: black;    
    justify-content: center;
    margin-bottom: 40px;
}
section {    
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: start;
    color: white;    
}
button{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 60%;
    margin-top: 5%;

    background-color:transparent;
    border: none;
    cursor: pointer;

    mat-icon {
        color: #fff;
    }
    :hover{
        color: var(--color-primary);  
    }
}
h1 {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    line-height: 100%;
}
h2 {
    margin: 0;
    margin-bottom: 10px;
}
.bt-comentar{
    width: 100%;
}
.app-button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30%;
}
.product-view{
    width: 80%;
    display: flex;
    gap: 120px;
    margin-bottom: 40px;
}
.content-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
textarea {
    width: calc(100% - 22px);
    padding: 10px;    
    border-radius: 5px;
    min-height: 150px;
    resize: none;
}
.know-more-URL {    
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-card {
    min-width: 274px;
    height: 427px;
    background-color: rgb(19, 55, 138);
    border-radius: 5px;
}
.coment-list{
    -webkit-box-shadow: 0px 8px 10px 1px rgba(0, 20, 40, 0.2);
    -moz-box-shadow: 0px 8px 10px 1px rgba(0, 20, 40, 0.2);
    box-shadow: 0px 8px 10px 1px rgba(0, 20, 40, 0.2);
    border-radius: 5px;
    width: 80%;
    padding: 20px;
    margin-bottom: 40px;

}
.coment-item{
    border: 1px solid rgb(140, 190, 240);
    list-style: none;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
}
h3{
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span{
    font-weight: 300;
    color: rgb(140, 190, 240);
}
.bt-delete{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: var(--color-primary)
}


@media (min-width: 740px ) and (max-width: 920px) {
    .product-view{
        width: inherit;
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
}

@media (min-width: 320px) and (max-width: 740px) {
    header {
        height: 400px;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        margin-bottom: 20px;
    }
    section {    
        display: grid;
        grid-template-rows: 10% 70% 20%;
        align-items: start; 
    }
    .app-button {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 30%;
    }
    
    textarea {
        width: calc(100% - 22px);
        padding: 10px;
        resize: none;
    }
    .product-view{
        width: 100%;        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .product-card {
        width: 274px;
        height: 427px;
        margin-bottom: 20px;
    }
    
    h2{
        margin-bottom: 0;
    }
    .know-more-URL {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .coment-list {
        width: 100%;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}