<div class="background">
  <div class="container">
    <div class="filter-wrapper">
      <h2>Personagens</h2>
      <p>
        Procure seus personagens preferidos e conheça melhor nossos heróis e
        vilões!
      </p>
      <div class="input-area">
        <app-select
          [optionList]="optionList"
          [placeholder]="'Personagens'"
          [selectWidth]="'381px'"
          (valueChange)="onCategoryChange($event)"
        ></app-select>
        <app-input
          [inputType]="'inputEmail'"
          [fieldsetLabel]="'Quem você procura?'"
          [placeHolder]="'Quem você procura?'"
          [inputWidth]="'653px'"
          (valueChange)="onSearchChange($event)"
        ></app-input>
        <app-button label="Buscar" (click)="searchContent()"></app-button>
      </div>
    </div>
    <div class="grid-container">
      <app-character-card
        class="grid-item"
        *ngFor="let content of content"
        [title]="content.enName ? content.enName : content.enTitle"
        [description]="
          content.description ? content.description : defaultCardDescription
        "
        [imageSrc]="
          content.thumb
            ? content.thumb
            : '../../../../assets/images/personagem-sem-imagem.jpg'
        "
      ></app-character-card>
    </div>
    <app-button
      *ngIf="seeMoreButton"
      class="btn-see-more"
      label="Conhecer mais"
      (click)="seeMoreContent()"
    ></app-button>
  </div>
</div>
