<div class="background">
  <div class="component">
    <div class="icon-nav">
      <button (click)="handleBackButton()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div class="container">
      <section class="titulo">
        <h1>Recuperar senha</h1>
        <p>Por favor, preencha o campo abaixo para recuperar sua senha.</p>
      </section>
      <app-input
        [inputType]="'inputEmail'"
        [fieldsetLabel]="'E-mail cadastrado '"
        [placeHolder]="'Digite o email cadastrado'"
        [inputBorderColor]="borderColor"
        (valueChange)="emailChecker($event)"
      ></app-input>
      <app-button
        class="btEnviar"
        buttonType="cancel"
        label="cancelar"
        (click)="handleBackButton()"
      ></app-button>
      <app-button
        buttonType="large"
        label="enviar"
        [isDisabled]="!isAproved"
        (btnClick)="sendEmailSubmit()"
      ></app-button>
    </div>
  </div>
  <app-modal
    [isModalActive]="showModal"
    (emitEventClose)="closeModal($event)"
    [message]="modalMessage"
    [isError]="handleError"
  ></app-modal>
</div>
